In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
## preprocess the data
### drop irrelevant features
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [4]:
## encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [7]:
# one hot encode 'Geography'
onehot_encoder_geo=OneHotEncoder()
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## combine one hot encoder columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [9]:
## divide dataset into dependent and independent features
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [10]:
## split the data in training and testing data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
## save the encoders and scalers
with open('label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb')as file:
    pickle.dump(onehot_encoder_geo,file)
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression problem statement

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\PRAGYA\Desktop\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [14]:
## build our ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),## HL1 connected with input layer
    Dense(32,activation='relu'),## HL2 
    Dense(1) ## output layer
])

WARNING:tensorflow:From c:\Users\PRAGYA\Desktop\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [16]:
## compile the model
model.compile(optimizer='adam',loss="mean_absolute_error",metrics=['mae'])

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
# set up TensorBoard
log_dir="regressionlogs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback =TensorBoard(log_dir=log_dir,histogram_freq=1)

In [20]:
## set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
## Training the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorboard_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\PRAGYA\Desktop\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\PRAGYA\Desktop\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100381.1250 - mae: 100381.1250 - val_loss: 98535.9531 - val_mae: 98535.9531
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99720.3750 - mae: 99720.3750 - val_loss: 97214.7656 - val_mae: 97214.7656
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 97429.4141 - mae: 97429.4141 - val_loss: 93857.4375 - val_mae: 93857.4375
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 92891.0234 - mae: 92891.0234 - val_loss: 88167.9844 - val_mae: 88167.9844
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 86160.0312 - mae: 86160.0312 - val_loss: 80600.1406 - val_mae: 80600.1406
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 77930.7969 - mae: 77930.7969 - val_loss: 72275.9141 - val_mae: 72275.9141
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 69505.9766 - mae: 69505.9766 - val_loss: 64547.0859 - val_mae: 64547.0859
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 62148.8828 - mae: 62148.8828 - val_loss: 58424.8086 - val_mae: 58424.8086
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 56792.6641 - mae: 56792.6641 - val_loss: 54378.7852 - val_mae: 54378.7852
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 53457.2656 - mae: 53457.2656 - val_loss: 52205.8086 - val_mae: 52205.8086
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51692.0742 - mae: 51692.0742 - val_loss: 51234.4219 - val_mae: 51234.4219
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50927.0898 - mae: 50927.0898 - val_loss: 50910.0430 - val_mae: 50910.0430
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50591.5156 - mae: 50591.5156 - val_loss: 50780.1758 - val_mae: 50780.1758
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50414.7578 - mae: 50414.7578 - val_loss: 50727.8906 - val_mae: 50727.8906
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50308.9453 - mae: 50308.9453 - val_loss: 50690.1211 - val_mae: 50690.1211
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50232.0039 - mae: 50232.0039 - val_loss: 50653.3359 - val_mae: 50653.3359
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50170.6484 - mae: 50170.6484 - val_loss: 50618.0039 - val_mae: 50618.0039
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50119.1914 - mae: 50119.1914 - val_loss: 50594.5625 - val_mae: 50594.5625
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50071.3672 - mae: 50071.3672 - val_loss: 50570.2930 - val_mae: 50570.2930
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 50028.0352 - mae: 50028.0352 - val_loss: 50539.3828 - val_mae: 50539.3828
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49992.9531 - mae: 49992.9531 - val_loss: 50514.3750 - val_mae: 50514.3750
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49959.0781 - mae: 49959.0781 - val_loss: 50491.7891 - val_mae: 50491.7891
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49926.9062 - mae: 49926.9062 - val_loss: 50474.8320 - val_mae: 50474.8320
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49897.5156 - mae: 49897.5156 - val_loss: 50455.3086 - val_mae: 50455.3086
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49874.4492 - mae: 49874.4492 - val_loss: 50440.2461 - val_mae: 50440.2461
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49849.5391 - mae: 49849.5391 - val_loss: 50429.2461 - val_mae: 50429.2461
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49827.8320 - mae: 49827.8320 - val_loss: 50415.1094 - val_mae: 50415.1094
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49801.4023 - mae: 49801.4023 - val_loss: 50411.8125 - val_mae: 50411.8125
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49780.0234 - mae: 49780.0234 - val_loss: 50399.7578 - val_mae: 50399.7578
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49764.5430 - mae: 49764.5430 - val_loss: 50389.1016 - val_mae: 50389.1016
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49745.1680 - mae: 49745.1680 - val_loss: 50384.9883 - val_mae: 50384.9883
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49731.2344 - mae: 49731.2344 - val_loss: 50380.8359 - val_mae: 50380.8359
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49718.3984 - mae: 49718.3984 - val_loss: 50362.1055 - val_mae: 50362.1055
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49701.6641 - mae: 49701.6641 - val_loss: 50358.0742 - val_mae: 50358.0742
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49692.2578 - mae: 49692.2578 - val_loss: 50348.5352 - val_mae: 50348.5352
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49678.4453 - mae: 49678.4453 - val_loss: 50332.8203 - val_mae: 50332.8203
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49670.3320 - mae: 49670.3320 - val_loss: 50337.4258 - val_mae: 50337.4258
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49656.7422 - mae: 49656.7422 - val_loss: 50333.0664 - val_mae: 50333.0664
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49643.4062 - mae: 49643.4062 - val_loss: 50331.5078 - val_mae: 50331.5078
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49632.1016 - mae: 49632.1016 - val_loss: 50327.6016 - val_mae: 50327.6016
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49622.3398 - mae: 49622.3398 - val_loss: 50321.1914 - val_mae: 50321.1914
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49614.4727 - mae: 49614.4727 - val_loss: 50309.4062 - val_mae: 50309.4062
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49604.9766 - mae: 49604.9766 - val_loss: 50315.7617 - val_mae: 50315.7617
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49594.6094 - mae: 49594.6094 - val_loss: 50303.5273 - val_mae: 50303.5273
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49588.4297 - mae: 49588.4297 - val_loss: 50305.6680 - val_mae: 50305.6680
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49575.4141 - mae: 49575.4141 - val_loss: 50302.9453 - val_mae: 50302.9453
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49567.4023 - mae: 49567.4023 - val_loss: 50301.8750 - val_mae: 50301.8750
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49559.6289 - mae: 49559.6289 - val_loss: 50291.5352 - val_mae: 50291.5352
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49552.7695 - mae: 49552.7695 - val_loss: 50304.9336 - val_mae: 50304.9336
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49544.0273 - mae: 49544.0273 - val_loss: 50299.5234 - val_mae: 50299.5234
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49537.8555 - mae: 49537.8555 - val_loss: 50306.0117 - val_mae: 50306.0117
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49530.9219 - mae: 49530.9219 - val_loss: 50298.2695 - val_mae: 50298.2695
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49524.9062 - mae: 49524.9062 - val_loss: 50310.7422 - val_mae: 50310.7422
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49517.3242 - mae: 49517.3242 - val_loss: 50299.5625 - val_mae: 50299.5625
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49514.3984 - mae: 49514.3984 - val_loss: 50300.4219 - val_mae: 50300.4219
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49503.1172 - mae: 49503.1172 - val_loss: 50298.6680 - val_mae: 50298.6680
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49497.5312 - mae: 49497.5312 - val_loss: 50301.9727 - val_mae: 50301.9727
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49492.1562 - mae: 49492.1562 - val_loss: 50302.8906 - val_mae: 50302.8906

In [23]:
%load_ext tensorboard

In [26]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 13548), started 0:00:13 ago. (Use '!kill 13548' to kill it.)

In [27]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 826us/step - loss: 50291.5352 - mae: 50291.5352
Test MAE :50291.53515625

In [29]:
model.save('regression_model.h5')

c:\Users\PRAGYA\Desktop\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(